<div class='wrapper' ng-controller='forecastCtrl'>
  <div class='preloader' ng-if='showPreloader'>
    <span>Loading... Please wait..</span>
  </div>
  <div class='header'>Today: {{date | date:'dd MMMM yyyy'}}</div>

  <div class='content' ng-if='!wrongCity'>
    <div class='situation'>Weather: {{weather.situation}}<img ng-src="{{weather.icon}}"></div>
    <div class='temperature'>{{weather.temp}}°</div>
    <div class='wind'>Wind speed: {{weather.wind}} m/s</div>
    <div class='city'>City: {{city}}</div>
  </div>

  <div class='content' ng-if='wrongCity'>
    <h1>Something went wrong... Try to choose another city</h1>
  </div>
  
  <div class='footer'>
    <div class='choose-city'>
      <form ng-submit='chooseCity(cityName)'>
        <input type="text" ng-model='cityName' placeholder='Type your city here...'>
        <button type='submit'>Choose city</button>
      </form>
    </div>
    <div class='save'>
      <button ng-disabled='wrongCity' ng-click='downloadForecast(weather, city)'>Download forecast</button>
    </div>
  </div>
</div>