// @font-face
//   font-family: Open Sans Regular
//   src: url(fonts/OpenSans-Regular.ttf)

// @font-face
//   font-family: Open Sans Light
//   src: url(fonts/OpenSans-Light.ttf)

// @font-face
//   font-family: Open Sans Semibold
//   src: url(fonts/OpenSans-Semibold.ttf)

body, html, .wrapper
  height: 100%
  margin: 0
  font-family: "Open Sans Regular"


div[ui-view]
  height: 100%

.wrapper
  width: 360px
  margin: 0 auto
  background-color: #21a5da
  color: #ffffff
  text-align: center
  position: relative
  max-height: 750px

  .header
    background-color: #3eb1df
    padding: 15px

  .content
    padding-bottom: 80px
    position: absolute
    top: 50%
    left: 50%
    height: 150px
    width: 360px
    transform: translate(-180px, -75px)

  .footer
    background-color: #1c9dd1
    padding-top: 15px
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;

    .choose-city
      float: left
      width: 50%

    .save
      float: left
      width: 50%