@font-face
  font-family: Open Sans Regular
  src: url(fonts/OpenSans-Regular.ttf)

@font-face
  font-family: Open Sans Light
  src: url(fonts/OpenSans-Light.ttf)

@font-face
  font-family: Open Sans Semibold
  src: url(fonts/OpenSans-Semibold.ttf)

body, html, .wrapper
  height: 100%
  margin: 0
  font-family: "Open Sans Regular"


div[ui-view]
  height: 100%

.wrapper
  // width: 360px
  margin: 0 auto
  background-color: #21a5da
  color: #ffffff
  text-align: center
  position: relative
  max-height: 750px

  .preloader
    position: absolute
    width: 100%
    height: 100%
    z-index: 100
    background-color: #21a5da
    span
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)


  .header
    background-color: #3eb1df
    padding: 15px

  .content
    position: absolute
    top: 50%
    left: 50%
    width: 360px
    transform: translate(-50%, -50%)

    .temperature
      font-size: 95px
      font-family: Open Sans Light

    .situation
      span
        display: inline-block
        vertical-align: middle

      img
        display: inline-block
        vertical-align: middle

  .footer
    background-color: #1c9dd1
    padding-top: 15px
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: auto

    &-wrapper
      max-width: 360px
      margin: 0 auto

    .choose-city
      margin-bottom: 10px
      input
        height: 25px
        padding: 0 6px
        border: none

    .save
      &-button-container
        margin-bottom: 10px
        button
          width: 80%

  button
    border: none
    padding: 5px 10px
    background-color: #29b529
    color: #ffffff
    font-size: 15px
    &[disabled]
      background-color: #f37474